.HeroInterface {
    width: 800px;
    height: 100px;
    margin: 0 0 0 400px;

    horizontal-align: left;
    vertical-align: bottom;

    background-color: rgba(55, 0, 128, 0.9);
    flow-children: right;
    opacity: 1;
}
.Hero_Icon {
    width: 120px;
    height: 100%;

    background-color: #333;
}
.Tspace {
    height: 100%;
    width: fill-parent-flow(1.0);

    background-color: rgba(255, 255, 255, 0.3);
}
.SpaceLine {
    height: 100%;
    width: 8px;
    background-color: rgb(116, 116, 116);
}
.Hero_Attributes {
    height: 100%;
    width: 160px;
    /* width: fill-parent-flow(1.0); */
}
.Hero_Attributes_Section_1 {
    width: 160px;
    height: 100%;
    background-color: #fff;
    flow-children: down;
}
.Title_Hero_Attributes {
    width: 160px;
    height: 24px;
    background-color: rgba(109, 133, 212, 0.7);
}
.Title_Hero_Attributes_Text {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20px;
    font-family: radiance;
    font-weight: lightitalic;
    color: #fff;
}
.Listing_Hero_Attributes {
    width: 160px;
    height: fill-parent-flow(1.0);
    background-color: rgb(27, 31, 66);
    flow-children: down;
}
.AttributeContainer {
    width: 160px;
    height: 18px;
    color: lightblue;
    font-size: 16px;
    padding: 0 0 0 5px;
}