.Talent {
    horizontal-align: right;
    vertical-align: bottom;

    margin: 0 400px 0 0;
    width: 80px;
    height: 200px;

    background-color: rgba(113, 101, 226, 0.2);
}
.Tspace {
    horizontal-align: center;
    vertical-align: center;
}
.textcss {
    horizontal-align: center;
    vertical-align: center;
    color: #fff;
    font-size: 18px;
}